<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" verbose="2" parallel="methods" preserve-order="true" name="VWOTEST">
    <classes>
      <class name="webtest.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
